<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tzc.ljq.cloudcore.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.tzc.ljq.cloudapi.model.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="age" jdbcType="INTEGER" property="age" />
        <result column="email" jdbcType="VARCHAR" property="email" />
    </resultMap>

    <sql id="base_column">
        id,username,password,age,email
    </sql>

    <sql id="tb">
        user
    </sql>
    
    <select id="getUserById" resultMap="BaseResultMap">
        select
        <include refid="base_column"/>
        from
        <include refid="tb"/>
        where
        id = #{id}
    </select>


</mapper>